*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/AlivcLittleVideo/build/
/AlivcLittleVideo/build/intermediates/javac/debug/classes/
/AlivcMedia/build/
/AlivcMedia/build/intermediates/javac/debug/classes/
/AliyunCrop/crop/build/
/AliyunCrop/crop/build/intermediates/javac/debug/classes/
/AliyunEditor/build/
/AliyunEditor/build/intermediates/javac/debug/classes/
/AliyunFileDownLoader/build/
/AliyunFileDownLoader/build/intermediates/javac/debug/classes/
/AliyunRecorder/record/build/
/AliyunRecorder/record/build/intermediates/javac/debug/classes/
/AliyunSVideoBase/build/
/AliyunSVideoBase/build/intermediates/javac/debug/classes/
/AliyunSvideoMusic/build/
/AliyunSvideoMusic/build/intermediates/javac/debug/classes/
/AliyunVideoCommon/build/
/AliyunVideoCommon/build/intermediates/javac/debug/classes/
/UMLibrary/build/
/UMLibrary/build/intermediates/javac/debug/classes/